<!DOCTYPE html>
<html>

<head>
	<title>AkiraChix</title>
</head>

<body>
	<table>
<!-- 		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Registration Number</th>
			<th>Profession</th>
		</tr>

		<tr>
			<th>James</th>
			<th>Mwai</th>
			<th>001</th>
			<th>Consultant</th>
		</tr>

		<tr>
			<th>Jeff</th>
			<th>Muthondu</th>
			<th>002</th>
			<th>Designer</th>
		</tr> -->

		<!-- for loop -->
		{% for student in students %}

		<!-- templating syntax for browser to understand ... django templating language (imported the data/output all records to the user-->
		<tr>
			<td>{{student.first_name}}</td>
			<td>{{student.last_name}}</td>
			<td>{{student.registration_number}}</td>
			<td>{{student.id_number}}</td>
			<td>{{student.email}}</td>
		</tr>

		{% endfor %}

	</table>

</body>
</html>